@charset "UTF-8";

:root {
	--nav-link-color: #E3871F;
	--nav-hover-color: #A76417;
	--reserve-side-color: #B1520F;
	--reserve-center-color: #CF6317;
}






label {
	margin-bottom: 7px;
	margin-top: 13px;
}
 
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

#wrap {
	min-width: 960px;
}
header {
	height: 100px;
}
nav {
	
}
.contents {
	min-height: 600px;
	padding: 40px 0;
}
.contents-img {
	min-height: 600px;
}
footer {
	height: 100px;
}

.nav-link {
	background: var(--nav-link-color);
	transition: all 0.3s;
}
.nav-link:hover {
	background: var(--nav-hover-color);
}
.nav-text, .nav-text:hover {
	font-weight: bold;
	color: #fff;
}

.container-booking {
	width: 380px;
}

#banner {
	width: 100%;
}


.reserve-box-center {
	color: #fff;
	width: 33.3333%;
	background: var(--reserve-center-color);
	padding: 20px;
}
.reserve-box-side {
	color: #fff;
	width: 33.3333%;
	background: var(--reserve-side-color);
	padding: 60px;
}
.reserve-box-side > h2, .reserve-box-side > h1 {
	margin: 0;
}

.reserve-check {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0;
}
.reserve-check input {
	width: 70%;
	margin-left: 10px;
}