<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>날씨 정보</title>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- datepicker -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    
    <!-- 내 스타일시트 -->
    <link rel="stylesheet" href="/css/weather_history/style.css">
</head>
<body>
	<div class="wrap">
		<section class="contents d-flex">
			<nav>
				<div class="a-center py-4">
					<img width="25" src="/img/logo_color.png" alt="logo-color">
					<span class="text-white font-weight-bold ml-2">기상청</span>
				</div>
				<ul class="nav flex-column font-weight-bold">
					<li class="nav-item">
						<a href="/weather-history/weather-list-view" class="nav-link text-white">날씨</a>
					</li>
					<li class="nav-item">
						<a href="/weather-history/add-weather-view" class="nav-link text-white">날씨입력</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white">테마날씨</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white">관측 기후</a>
					</li>
				</ul>
			</nav>
			<article class="px-5">
				<h2 class="py-3">날씨 입력</h2>
				
				<form method="post" action="/weather-history/add-weather" class="form-form">
					<div class="form-box">
						<div class="form-group y-center">
							<div class="input-label">날짜</div>
							<input type="text" id="date" name="date" class="form-control">
						</div>
						<div class="form-group y-center">
							<div class="input-label">날씨</div>
							<select id="weather" name="weather" class="form-control">
								<option>맑음</option>
								<option>구름조금</option>
								<option>흐림</option>
								<option>비</option>
							</select>
						</div>
						<div class="form-group y-center">
							<div class="input-label">미세먼지</div>
							<select id="microDust" name="microDust" class="form-control">
								<option>좋음</option>
								<option>보통</option>
								<option>나쁨</option>
								<option>최악</option>
							</select>
						</div>
					</div>
					<div class="form-box">
						<div class="form-group y-center">
							<div class="input-label">기온</div>
							<div class="input-group">
							  <input type="text" name="temperatures" class="form-control">
							  <div class="input-group-append">
							    <span class="input-group-text">℃</span>
							  </div>
							</div>
						</div>
						<div class="form-group y-center">
							<div class="input-label">강수량</div>
							<div class="input-group">
							  <input type="text" name="precipitation" class="form-control">
							  <div class="input-group-append">
							    <span class="input-group-text">mm</span>
							  </div>
							</div>
						</div>
						<div class="form-group y-center">
							<div class="input-label">풍속</div>
							<div class="input-group">
							  <input type="text" name="windSpeed" class="form-control">
							  <div class="input-group-append">
							    <span class="input-group-text">km/h</span>
							  </div>
							</div>
						</div>
					</div>
					<div class="form-button">
						<button class="btn btn-success">저장</button>
					</div>
				</form>
			</article>
		</section>
		<footer class="y-center text-secondary">
			<div>
				<img height="70" src="/img/logo_gray.jpg" alt="logo-grey">
			</div>
			<div class="ml-1">
				<div>(07062) 서울시 동작구 여의대방로16길 61</div>
				<div>Copyright@2024 KMA. All Rights RESERVED.</div>
			</div>
		</footer>
	</div>
	
	<!-- javascript -->
	<script>
	$( function() {
		$('#date').datepicker({dateFormat: 'yy-mm-dd'});
	} );
	</script>
</body>
</html>