@charset "UTF-8";

.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

#wrap {
	max-width: 700px;	
	margin: 0 auto;
}
header {
	height: 90px;
}
.contents {
	min-height: 600px;
}
footer {
	height: 80px;
}

.store-card {
	border: 2px solid #17a2b8;
	border-radius: 5px;
	padding: 15px;
}